name: MLOps tourism data

on:
  workflow_dispatch:
  
jobs:
  register-dataset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with: 
          version: "0.9.9"
      - name: Install dependencies
        run: uv venv && uv pip install -r tourism_project/requirements.txt
      - name: Upload Dataset to HuggingFace Hub
        env: 
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: uv run tourism_project/model_building/data_register.py
